
.single-container{
    display: flex;
    margin: 1rem;
}
.label{
    width: 50%;
    margin: 0.55rem;

}
.inputText{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
}

